.signupBox {
  display: flex;
  padding: 50px;
  height: 84.6vh;
  align-items: center;
}
.imageSection{
    background-color: #5ecae3;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.formSection{
    background-color: transparent;
    border: 15px;
    border-radius: 10px;
   
}
.signupBox > div {
  height: 80vh;
  width: 100%;
}
body {
  margin: 0;
}
